{% extends "aplicacion/baseadmin.html" %}
{% load static %}


{% block contenido2 %}

  <!-- Formulario añadir -->
  <link rel="stylesheet" href="{% static 'aplicacion/css/admbtn.css' %}">
  <link rel="stylesheet" href="{% static 'aplicacion/css/editartabla.css' %}">
  <link rel="stylesheet" href="{% static 'aplicacion/css/indicadores.css' %}">
  <div class="edit-form-container">
    <div class="form-header">
        <a href="{% url 'admpagregar' %}" class="back-arrow"><i class="fas fa-arrow-left"></i></a>
        <h2>Editar Bicicleta</h2>
    </div>
    <form action="addproduc.html" method="get" enctype="multipart/form-data" class="was-validated">
        
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required oninput="validarNombre()">
            <div id="error-nombre" class="invalid-feedback">Rellene el campo solo con texto.</div>
        </div>

        <div class="form-group">
            <label for="precio">Talla:</label>
            <input type="text" id="precio" name="precio" required oninput="validarPrecio()">
            <div id="error-precio" class="invalid-feedback">Ingrese un valor numerico.</div>
          </div>

        <div class="form-group">
            <label for="precio">Aro:</label>
            <input type="text" id="precio" name="precio" required oninput="validarPrecio()">
            <div id="error-precio" class="invalid-feedback">Ingrese un valor numerico.</div>
          </div>

        <div class="form-group">
          <label for="precio">Precio:</label>
          <input type="text" id="precio" name="precio" required oninput="validarPrecio()">
          <div id="error-precio" class="invalid-feedback">Ingrese un valor numerico.</div>
        </div>
        

        <div class="form-group">
            <label for="categoria">Categoría:</label>
            <select id="categoria" name="categoria" required onchange="validarCategoria()">
              <option value="" selected>Sin Seleccionar</option>
              <option value="Urbana">Bicicleta Urbana</option>
              <option value="Montaña">Bicicleta de Montaña</option>
              <option value="Carretera">Bicicleta de Carretera</option>
              <option value="Eléctrica">Bicicleta Eléctrica</option>
              <option value="Infantil">Bicicleta Infantil</option>
            </select>
            <div id="error-categoria" class="invalid-feedback">Seleccione una categoría.</div>
          </div>
      

        <div class="form-group">
          <label for="imagen">Imagen del Producto:</label>
          <input type="file" id="imagen" name="imagen" accept="image/*" required onchange="validarImagen()">
          <div class="invalid-feedback">Seleccione una imagen antes de enviar.</div>
      </div>

        <div class="form-actions">
            <button type="submit" formaction="productos.html">Añadir Producto</button>
        </div>
    </form>
</div>
  <script src="{% static 'aplicacion/js/scripts.js' %}"></script>



{% endblock contenido2 %}
